In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import RFE

In [2]:
# Read the label data from a text file (tab-separated) into a DataFrame
labels_df = pd.read_csv('label_755.txt',sep='\t',header=None)

# Rename the columns to 'sample' for the sample ID and 'label' for the target variable
labels_df.columns=['sample','label']

# Replace 'R' with 1 and 'NR' with 0 in the 'label' column for binary classification
labels_df.replace({'R':1,'NR':0}, inplace=True)

/tmp/ipykernel_12681/4233955382.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  labels_df.replace({'R':1,'NR':0}, inplace=True)

In [3]:
labels_df

          sample  label
0    ERR12405911      1
1    ERR12405912      1
2    ERR12405914      1
3    ERR12405915      1
4    ERR12405922      1
..           ...    ...
750  SRR16168977      0
751  SRR16168981      0
752  SRR16168982      0
753  SRR16168983      0
754  SRR16168984      0

[755 rows x 2 columns]

In [4]:
# Read the gene abundance data from a text file (space-separated) into a pandas DataFrame
gene_M=pd.read_csv('difgene_abundance_755_55292_train.txt',sep='\t',low_memory=False,index_col=0)
gene_M=gene_M.T
gene_M = gene_M.reset_index()
gene_M = gene_M.rename(columns={'index':'sample'})

In [5]:
gene_M

,sample,gene_3,gene_9,gene_31,gene_62,gene_70,gene_107,gene_132,gene_158,gene_173,...,gene_4662751,gene_4662822,gene_4664176,gene_4664554,gene_4665019,gene_4665056,gene_4665086,gene_4665104,gene_4666141,gene_4666219
0,ERR12405911,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000
1,ERR12405912,8.909683e-09,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000
2,ERR12405914,9.455991e-09,1.313261e-08,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,1.147272e-08,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000
3,ERR12405915,0.000000e+00,8.290112e-07,0.000000e+00,0.0,0.0,0.000000e+00,7.734314e-09,7.932218e-07,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000
4,ERR12405922,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,SRR15373195,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.0,0.0,0.0,0.000009,0.0,0.0,0.000000,0.000004,0.0,0.000020
751,SRR15373196,0.000000e+00,4.799156e-10,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000004,0.000000,0.0,0.000000
752,SRR15373199,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000
753,SRR15373200,0.000000e+00,0.000000e+00,3.612273e-09,0.0,0.0,1.349559e-09,0.000000e+00,0.000000e+00,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000003
754,SRR15373201,4.371581e-10,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000

In [6]:
# Merge the gene abundance DataFrame (gene_M) with the labels DataFrame (labels_df) on the 'sample' column.
df=pd.merge(gene_M,labels_df,on='sample',how='inner')
labels =df['label']
X=df.drop(['sample','label'],axis=1).values

In [7]:
X.shape

(755, 55292)

In [8]:
# Optimized the 'n_neighbors' parameter, default=5
param_grid = {"n_neighbors":range(1,500,10)}
gsearch1 = GridSearchCV(KNeighborsClassifier(),param_grid, n_jobs= -1,
                        scoring='roc_auc',cv=10,verbose=1)
gsearch1.fit(X,labels)
print(gsearch1.best_params_)
print("best accuracy:%f" % gsearch1.best_score_)

Fitting 10 folds for each of 50 candidates, totalling 500 fits
{'n_neighbors': 411}
best accuracy:0.767483

In [9]:
# Optimized the 'n_neighbors' parameter, default=5
param_grid = {"n_neighbors":range(401,421,1)}
gsearch1 = GridSearchCV(KNeighborsClassifier(),param_grid, n_jobs= -1,
                        scoring='roc_auc',cv=10,verbose=1)
gsearch1.fit(X,labels)
print(gsearch1.best_params_)
print("best accuracy:%f" % gsearch1.best_score_)

Fitting 10 folds for each of 20 candidates, totalling 200 fits
{'n_neighbors': 412}
best accuracy:0.768205

In [10]:
# Optimized the 'weights' parameter, default=’uniform’
param_grid = {"weights":['uniform','distance']}
gsearch1 = GridSearchCV(KNeighborsClassifier(n_neighbors=412),param_grid, n_jobs= -1,
                        scoring='roc_auc',cv=10,verbose=1)
gsearch1.fit(X,labels)
print(gsearch1.best_params_)
print("best accuracy:%f" % gsearch1.best_score_)

Fitting 10 folds for each of 2 candidates, totalling 20 fits
{'weights': 'distance'}
best accuracy:0.773992

In [11]:
# Optimized the 'algorithm' parameter, default=’auto’
param_grid = {"algorithm":['auto','ball_tree','kd_tree','brute']}
gsearch1 = GridSearchCV(KNeighborsClassifier(n_neighbors=412, weights='distance'),param_grid, n_jobs= -1,
                        scoring='roc_auc',cv=10,verbose=1)
gsearch1.fit(X,labels)
print(gsearch1.best_params_)
print("best accuracy:%f" % gsearch1.best_score_)

Fitting 10 folds for each of 4 candidates, totalling 40 fits
{'algorithm': 'auto'}
best accuracy:0.773992

In [12]:
# Optimized the 'leaf_size' parameter, default=30
param_grid = {"leaf_size": range(1,100,10)}
gsearch1 = GridSearchCV(KNeighborsClassifier(n_neighbors=412, weights='distance'),param_grid, n_jobs= -1,
                        scoring='roc_auc',cv=10,verbose=1)
gsearch1.fit(X,labels)
print(gsearch1.best_params_)
print("best accuracy:%f" % gsearch1.best_score_)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
{'leaf_size': 1}
best accuracy:0.773992

In [13]:
# Optimized the 'p' parameter, default=2
param_grid = {"p": range(1,20,1)}
gsearch1 = GridSearchCV(KNeighborsClassifier(n_neighbors=412, weights='distance'),param_grid, n_jobs= -1,
                        scoring='roc_auc',cv=10,verbose=1)
gsearch1.fit(X,labels)
print(gsearch1.best_params_)
print("best accuracy:%f" % gsearch1.best_score_)

Fitting 10 folds for each of 19 candidates, totalling 190 fits
{'p': 2}
best accuracy:0.773992

In [14]:
# Create a k-nearest neighbors classifier
neigh = KNeighborsClassifier(n_neighbors=412, weights='distance')
neigh.fit(X, labels)

KNeighborsClassifier(n_neighbors=412, weights='distance')

In [15]:
# Read in the gene abundance matrix for the independent test samples
test_64=pd.read_csv('difgene_abundance_64_55292_test.txt',sep='\t',low_memory=False,index_col=0)
test_64=test_64.T
test_64 = test_64.reset_index()
test_64 = test_64.rename(columns={'index':'sample'})
test_64

,sample,gene_3,gene_9,gene_31,gene_62,gene_70,gene_107,gene_132,gene_158,gene_173,...,gene_4662751,gene_4662822,gene_4664176,gene_4664554,gene_4665019,gene_4665056,gene_4665086,gene_4665104,gene_4666141,gene_4666219
0,SRR6000870,0.0,1.210000e-07,0.000000e+00,1.900000e-06,0.000000e+00,0.0,0.0,5.320000e-08,7.980000e-09,...,0.00000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
1,SRR6000871,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,...,0.00000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
2,SRR6000893,0.0,1.890000e-07,1.850000e-07,0.000000e+00,8.730000e-07,0.0,0.0,9.550000e-08,0.000000e+00,...,0.00000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
3,SRR6000900,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,...,0.00000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
4,SRR6000901,0.0,0.000000e+00,0.000000e+00,1.440000e-09,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,...,0.00000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,ERR2162210,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,...,0.00000,0.000008,0.000013,0.000000,0.0,0.00001,0.000000,0.000000,0.000000,0.000000
60,ERR2162213,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,...,0.00007,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000017,0.000004
61,ERR2162215,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,...,0.00000,0.000000,0.000000,0.000007,0.0,0.00000,0.000000,0.000000,0.000021,0.000005
62,ERR2162218,0.0,0.000000e+00,0.000000e+00,1.090000e-07,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,...,0.00000,0.000025,0.000000,0.000000,0.0,0.00000,0.000007,0.000011,0.000000,0.000019
63,ERR2162223,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,...,0.00000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000016,0.000000,0.000030

In [16]:
X_test_64=test_64.drop(['sample'],axis=1).values

In [17]:
# Read in the response labels for the test samples
labels_test_64 = pd.read_csv('label_64.txt',sep='\t',header=None)

# Rename the columns to 'sample' for the sample ID and 'label' for the target variable
labels_test_64.columns=['sample','label']

# Replace 'R' with 1 and 'NR' with 0 in the 'label' column for binary classification
labels_test_64.replace({'R':1,'NR':0}, inplace=True)

/tmp/ipykernel_12681/1215660552.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  labels_test_64.replace({'R':1,'NR':0}, inplace=True)

In [18]:
lab_test_64 =labels_test_64['label']
labels_test_64

        sample  label
0   SRR6000870      1
1   SRR6000871      1
2   SRR6000893      1
3   SRR6000900      1
4   SRR6000901      1
..         ...    ...
59  ERR2162210      0
60  ERR2162213      0
61  ERR2162215      0
62  ERR2162218      0
63  ERR2162223      0

[64 rows x 2 columns]

In [19]:
# Calculate the prediction accuracy of the test samples using the KNN model
neigh.score(X_test_64, lab_test_64)

0.453125

In [20]:
# Predicted classification result for each sample
neigh.predict(X_test_64)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])